<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>随机区组试验</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.js"></script>

    <link rel="stylesheet" href="{% static 'sar/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'sar/jquery.js' %}"></script>
    <script src="{% static 'sar/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'sar/main_css.css' %}">
</head>
<script>
$(document).ready(function () {
    $('#Sub').click(function () {
        var num = $('#num').val();
        var block_num = $('#group_num').val();
        ls = ['A', 'B', 'C'];
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
        $("#div1").html("");
        $.ajax(
               {
                    type: 'POST',
                        url:"{%url "sar:rcbd_json" %}",
                        dataType: 'json',
                        data: {'class':'rcbd','num':num,'block_num':block_num,'name':ls.toString()},
                        success:function(data){

                            var Myerror = data['Myerror'];
                            

                            if (Myerror == 0) {
                                var infor=new Array;
                                infor=data["rbd_design_result"];
                                var tableNode; 
                                tableNode=document.createElement("table");//获得对象 
                                tableNode.setAttribute("class","table table-bordered") 
                                for(var x=0;x<block_num;x++){ 
                                     var trNode=tableNode.insertRow(); 
                                    for(var y=0;y<num;y++){ 
                                    var tdNode=trNode.insertCell(); 
                                    tdNode.innerHTML=infor[x*num+y]; 
                                            } 
                                           } 
                                    document.getElementById("div1").appendChild(tableNode);//添加到那个位置 
                                }        
                                 $('#build_csv').attr("type", "button");
                                    $('#build_pdf').attr("type", "button");
                                


                            }
                          
                        

              
    });
});
    $('#build_pdf').click(function () {
        var num = $('#num').val();
        var block_num = $('#group_num').val();
        ls = ['A', 'B', 'C'];
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
        $.ajax({
            type: 'POST',
            url:"{%url "sar:pdf_build" %}",
            dataType: 'json',
            data: {'class':'rcbd','num':num,'block_num':block_num,'name':ls.toString()},
            success:function(data){
                $('#file_result').attr("value", data['result']);
                $('#download').attr("type", "submit");
                $('#build_csv').attr("type", "hidden");
                $('#build_pdf').attr("type", "hidden");
               }
        })
    });
    $('#build_csv').click(function () {
        var num = $('#num').val();
        var group_num = $('#group_num').val();
        var dic = new Array();
        var design = 'rcbd';
        dic.push(design);
        dic.push(num);
        dic.push(group_num);
        $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });
        $.ajax({
            type: 'POST',
            url:"{%url "sar:csv_build" %}",
            dataType: 'json',
            data: {'dict':dic.toString()},
            success:function(data){
                $('#file_result').attr("value", data['result']);
                $('#download').attr("type", "submit");
                $('#build_csv').attr("type", "hidden");
                $('#build_pdf').attr("type", "hidden");
               }
        })
    })
})
</script>

<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">SAR</a>
                
            </div>
            <div class="collapse navbar-collapse" id="example">
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;登陆</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-sm-3 col-md-2 sidebar" >
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">试验类别</a></li>
                    <li><a href="#">完全随机设计试验</a></li>
                    <li><a href="#">正交设计试验</a></li>
                    <li><a href="#">区组设计试验</a></li>
                </ul>
            </div>
        
            <div class="col-sm-9" >
                <h1 class="page-header">完全随机设计试验</h1>
                <ol>
                    <li>
                        <form class="form-inline">
                      <div class="form-group">
                        <label class="sr-only" for="num">对象总数</label>
                        <input type="text" class="form-control" id="num" placeholder="对象总数">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="group_num">区组总数</label>
                        <input type="text" class="form-control" id="group_num" placeholder="区组总数">
                      </div>
                      
                      <button type="button" class="btn btn-default" id="Sub" >提交</button>
                    </form>
                    </li>
                    
                </ol>
                
                <div id="div1"></div>
                <input type="hidden" value="生成PDF" class="btn btn-default" id = 'build_pdf'>
                <input type="hidden" value="生成CSV" class="btn btn-default" id = 'build_csv'>


                <div>
                    <form method="post" action="{%url 'sar:download_result' %}" >
                    {% csrf_token %}
                    <input type="hidden" id="file_result" class="btn btn-default" name="file_result">
                    <input type="hidden" value='下载' class="btn btn-success" id='download' >
                    </form>
                </div>

                
            </div>
        </div>
    </div>
<div id="result——" ></div>


</body>
</html>